@font-face {
    font-family: 'Western';
    src: url('./assets/fonts/Western.eot');
    src: url('./assets/fonts/Western.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/Western.woff') format('woff'),
         url('./assets/fonts/Western.ttf') format('truetype'),
         url('./assets/fonts/Western.svg#Western') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  